

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li>-->
            <li role="presentation"><a href="/#/group">Groups</a></li>
            <li role="presentation"><a href="/#/group/new">Create New Group</a></li>
        </ul> 
    </div>
    <div class="col-md-10">


<h3>{{group.name}}</h3>
<div>
   <h4>Details</h4>
    <div class="highlight">
        <h5>{{group.description}}</h5>
        <h5>{{group.created_at}}</h5>
        <h5>{{group.group_type}}</h5>
    </div>   
</div>
        <div>
            <angucomplete 
                          id="ex2" 
                          placeholder="Search people" 
                          pause="300" 
                          selectedobject="selectedPerson" 
                          localdata="people" 
                          searchfields="firstName,surname" 
                          titlefield="firstName,surname" 
                          descriptionfield="twitter" 
                          imagefield="pic" minlength="1" 
                          inputclass="form-control form-control-small" 
                          matchclass="highlight-text" />
        </div>

<div>
    <div class="form-group move-down">
        <label for="Autocomplete">Generic Autocomplete</label>
        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
    </div>
    <div>result: {{result}}</div>
</div>


<div class="row">
        <div class="col-md-1">
            <a type="button" href="#/group/edit/{{group.url}}"class="btn btn-info">Edit</a>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger" ng-click="delete('sm',group._id)">
                Delete</button>
        </div>                
</div>
    </div>
</div>


<script type="text/ng-template" id="deleteGroupModal.tpl.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete Blog Post</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this Group?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>