
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <!-- <li role="presentation" class="active"><a href="#">Home</a></li>-->
            <li role="presentation"><a href="/#/group">Groups</a></li>
            <li role="presentation"><a href="/#/group/new">Create New Group</a></li>
        </ul> 
    </div>
    <div class="col-md-10">
        <h3>Groups</h3>
        <hr>
        <div ng-if="sharedDateMsg" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{sharedDateMsg}}
        </div>
        <div  ng-repeat="group in groups"> 
            <a href="#/group/{{group.url}}"><h4>{{group.name}}</h4></a> 
        </div>
        

    </div>
</div>